/* GENEL */
body{
    margin:0;
    font-family: Georgia, serif;
    background:#111;
    color:#f5f5f5;
}

/* ANİMASYON */
@keyframes fadeUp{
    from{opacity:0; transform:translateY(30px);}
    to{opacity:1; transform:translateY(0);}
}

/* HERO (ÇAY ARKA PLANLI) */
.hero{
    min-height:1vh;
    background:
        linear-gradient(
            rgba(152, 149, 149, 0.6),
            rgba(228, 222, 222, 0.6)
        ),
        url("indir\ \(1\).jpg");
    background-size:cover;
    background-position:center;
    background-attachment:fixed;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding: 30px;
}

/* HERO YAZILARI */
.hero h1{
    font-size:64px;
    letter-spacing:4px;
    margin-bottom:15px;
    animation:fadeUp 1.2s ease;
}

.hero p{
    font-size:18px;
    max-width:520px;
    opacity:.95;
    animation:fadeUp 1.5s ease;
}

/* AYRAÇ */
.divider{
    width:70px;
    height:3px;
    background:#c7a17a;
    margin:60px auto;
}

/* BÖLÜMLER */
.section{
    max-width:900px;
    margin:60px auto;
    padding:60px 30px;
    text-align:center;
    background:rgba(255,255,255,0.04);
    border-radius:18px;
    box-shadow:0 10px 30px rgba(0,0,0,.4);
}

.section h2{
    position:relative;
    color:#c7a17a;
    margin-bottom:20px;
    font-size:28px;
}

.section h2::after{
    content:"";
    width:60px;
    height:3px;
    background:#f5c16c;
    display:block;
    margin:12px auto 0;
    border-radius:2px;
}

.section p{
    line-height:1.8;
    font-size:16px;
}

/* LİSTE */
.list{
    max-width:520px;
    margin:30px auto;
    text-align:left;
}
.list div{
    padding:12px 0;
    border-bottom:1px solid rgba(255,255,255,.1);
    font-size:17px;
}

/* SLOGAN */
.slogan{
    font-style:italic;
    opacity:.85;
    margin-top:20px;
}

/* GALERİ */
.gallery{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:20px;
    margin-top:30px;
}
.gallery img{
    width:100%;
    height:180px;
    object-fit:cover;
    border-radius:12px;
    filter:grayscale(20%);
    transition:.4s;
}
.gallery img:hover{
    filter:grayscale(0%);
    transform:scale(1.03);
}

/* FOOTER */
.footer{
    text-align:center;
    padding:30px;
    font-size:14px;
    opacity:.75;
}

/* MOBİL */
@media(max-width:600px){
    .hero h1{
        font-size:42px;
    }
}
.hero{
    min-height:100vh;
    background:
        linear-gradient(
            rgba(0,0,0,0.6),
            rgba(0,0,0,0.6)
        ),
        url("indir\ \(1\).jpg");
    background-size:cover;
    background-position:center;
    background-attachment:fixed;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:30px;
}
